<%- include("partials/header"); -%>
    <h1>About Me</h1>

    <div class="card-1">

      <h1>Arsalan Khan</h1>
      <h5 class="title">(Solidity Developer)</h5>
      <p> <%= aboutContent %> </p>
      <p>I enjoy travelling, it's like adding additional cheese to a pizza for me and I also like to share my personal experience about travelling, foods and movies or in simple word full-on-entertainment.</p>
    </div>

<%- include("partials/footer"); -%>
